<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Mechurial</title>
      
        <meta name="author" content="team7" />
        <meta name="description" content="Mechurial-website" />
        <!-- width=device-width: 사용하는 디바이스의 가로 너비를 그대로 사용하겠다, initial-scale=1.0: 초기 배율 1배, 
          user-scalable=no: 스마트폰이나 테블릿에서 유저가 확대하는것을 허용 X, maximum-scale=1, minimum-scale=1: 최대 최소 확대 배율 1로 정함 -->
        <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, minimum-scale=1" />
        <!-- 사용자가 사용하는 인터넷 브라우저가 인터넷 익스플로러일 때, 8버전이상에서 항상 최신의 항상 최신의 표전모드로 렌더링 되도록 하는 코드-->
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      
        <!-- 구글 폰트 -->
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet" />
      
        <!-- CSS reset -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css"
          integrity="sha512-IJEbgDEF7OeKJRa0MY2PApnyJHRIsgzCveek4ec8VWQ+7KG3ZSKVNYa5xP/Gh0hVP0Mwb+gBsk+GwR3JQGhQNg=="
          crossorigin="anonymous" />
        <link rel="stylesheet" href="/public/css/info.css" />
      
        <script defer src="main.js"></script>
        <!-- defer: HTML이 다 로딩 된 다음 자바스크립트 코드를 동작 시키겠다.-->
      </head>

  <body>
    <div class="body__container">
      <!-- HEADER -->
      <header class="section">
        <div class="inner clearfix">
          <div class="logo float--left">
            <a href="#">mechurial</a>
          </div>
          <div class="menu-group float--right">
            <ul class="main-menu toggle">
              <li>
                <a href="#" onclick="location.href='enroll.html'">등록</a>
              </li>
              <li>
                <a href="#" onclick="location.href='enrollmanage.html'">등록 관리</a>
              </li>
              <li><a href="#">회원가입</a></li>
              <li><a href="#">로그아웃</a></li>
            </ul>
          </div>
        </div>
      </header>
      <!-- 등록관리 창 -->
      <context class="section">
        <div class="inner clearfix">
          <div class="menu-group">
            <ul class="tablemenu toggle">
              <li>
                <a href="#" onclick="location.href='enroll.html'">조회</a>
              </li>
              <li>
                <a href="#" onclick="location.href='enroll.html'">추가</a>
              </li>
              <li><a href="#">삭제</a></li>
            </ul>
            <form id="search-form" method="post" action="">
              <ul>
                <li>
                  <input
                    id="search"
                    class="input--text"
                    type="text"
                    placeholder="검색어를 입력하세요..."
                  />
                  <input type="submit" />
                  <button class="btn">확인</button>
                </li>
              </ul>
            </form>
          </div>
        </div>
      </context>
      <!-- HEADER -->

      <div class="tablelist">
          <table>
              <div>
                  <tr class ="tablebar">
                      <td> </td>
                      <td>사이트명</td>
                      <td>URL</td>
                      <td>마감기한</td>
                      <td>키워드</td>
                      <td>  </td>
                  </tr>
              </div>
              <div class="listindex">
                  <tr>
                      <td><input type="checkbox" name="check" value="checked" /></td>
                      <td>AAA1</td>
                      <td>https;//www.figma.com</td>
                      <td>2022.04.29</td>
                      <td>미니언즈 킨더 만두</td>
                      <td><button class ="edit_btn" href="#" onclick="location.href='enroll.html'"> 수정하기 </button></td>
                    </tr>
                  <tr>
                      <td><input type="checkbox" name="check" value="checked" /></td>
                      <td>AAA2</td>
                      <td>https;//www.figma.com</td>
                      <td>2022.04.29</td>
                      <td>빅파이 치즈샌드</td>
                      <td><button class ="edit_btn" href="#" onclick="location.href='enroll.html'"> 수정하기 </button></td>
                  </tr>
                  <tr>
                      <td><input type="checkbox" name="check"" value="checked" /></td>
                      <td>AAA3</td>
                      <td>https;//www.figma.com</td>
                      <td>2022.04.29</td>
                      <td>컵 종이 핸드폰</td>
                      <td><button class ="edit_btn" href="#" onclick="location.href='enroll.html'"> 수정하기 </button></td>
                  </tr>
              </div>
            </table>
      </div>
  </body>
</html>
