<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <title>Mechurial</title>
  
    <meta name="author" content="team7" />
    <meta name="description" content="Mechurial-website" />
    <!-- width=device-width: 사용하는 디바이스의 가로 너비를 그대로 사용하겠다, initial-scale=1.0: 초기 배율 1배, 
      user-scalable=no: 스마트폰이나 테블릿에서 유저가 확대하는것을 허용 X, maximum-scale=1, minimum-scale=1: 최대 최소 확대 배율 1로 정함 -->
    <meta name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, minimum-scale=1" />
    <!-- 사용자가 사용하는 인터넷 브라우저가 인터넷 익스플로러일 때, 8버전이상에서 항상 최신의 항상 최신의 표전모드로 렌더링 되도록 하는 코드-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  
    <!-- 구글 폰트 -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet" />
  
    <!-- CSS reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css"
      integrity="sha512-IJEbgDEF7OeKJRa0MY2PApnyJHRIsgzCveek4ec8VWQ+7KG3ZSKVNYa5xP/Gh0hVP0Mwb+gBsk+GwR3JQGhQNg=="
      crossorigin="anonymous" />
    <link rel="stylesheet" href="css/info.css" />
  
    <script defer src="main.js"></script>
    <!-- defer: HTML이 다 로딩 된 다음 자바스크립트 코드를 동작 시키겠다.-->
  </head>

<body>
  <div class="body__container">
    <!-- HEADER -->
    <header class="section">
      <div class="inner clearfix">
        <div class="logo float--left">
          <a href="#">mechurial</a>
        </div>
        <div class="menu-group float--right">
          <ul class="main-menu toggle">
            <li>
              <a href="#" onclick="location.href='enroll.html'">등록</a>
            </li>
            <li>
              <a href="#" onclick="location.href='enrollmanagement.html'">등록 관리</a>
            </li>
            <li><a href="#">회원가입</a></li>
            <li><a href="#">로그아웃</a></li>
          </ul>
        </div>
      </div>
    </header>
    <!-- 등록 창 -->
    <div class="body-form">
      <div class="body-l">
        <form id="enroll-form" method="post" action="">
          <ul>
            <div class="form-p">
              <li>
                <h2 class="step-info">Step 1. URL을 입력해주세요.</h2>
                <input class="input--text" type="text" placeholder="url을 입력해주세요." />
                <button class="btn--primary">확인</button>
              </li>
            </div>

            <li>
              <h2 class="step-info">
                Step 2. 검색할 키워드를 입력하세요.(1개 이상 입력 필수)
              </h2>

              <input class="input--text" type="text" /><br /><br />

              <input class="input--text" type="text" /><br /><br />

              <input class="input--text" type="text" /><br /><br />
            </li>


            <div class="form-p">
              <li>
                <h2 class="step-info">Step 3. 알림 조건을 선택하세요.</h2>

                <label>
                  <input type="radio" name="condition" value="Or" />합집합
                  <input type="radio" name="condition" value="And" />교집합</label>
              </li>
            </div>
      </div>
      <div class="form-p">
        <li>
          <h2 class="step-info">Step 4. 사이트 이름을 설정하세요.</h2>

          <input class="input--text" type="text" />
        </li>
      </div>

      <div class="form-p">
        <li>
          <h2 class="step-info">Step 5. 마감 기한을 설정하세요.</h2>

          <input type="date" name="startday" />
          ~
          <input type="date" name="deadline" />
        </li>
      </div>
      </ul>
      <br />
      <br />
      <button class="enroll_btn">등록하기</button>
      </form>

</body>

</html>
