<!--views/mainpage.ejs-->

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Mechurial</title>

    <meta name="author" content="team7" />
    <meta name="description" content="Mechurial-website" />
    <!-- width=device-width: 사용하는 디바이스의 가로 너비를 그대로 사용하겠다, initial-scale=1.0: 초기 배율 1배, 
    user-scalable=no: 스마트폰이나 테블릿에서 유저가 확대하는것을 허용 X, maximum-scale=1, minimum-scale=1: 최대 최소 확대 배율 1로 정함 -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, minimum-scale=1"
    />
    <!-- CSS reset -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css"
      integrity="sha512-IJEbgDEF7OeKJRa0MY2PApnyJHRIsgzCveek4ec8VWQ+7KG3ZSKVNYa5xP/Gh0hVP0Mwb+gBsk+GwR3JQGhQNg=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../public/css/mypage_main.css" />

    <script defer src="main.js"></script>
    <!-- defer: HTML이 다 로딩 된 다음 자바스크립트 코드를 동작 시키겠다.-->
  </head>

  <body>
    <div class="body__container">
      <!-- HEADER -->
      <header class="section">
        <div class="inner clearfix">
          <div class="logo float--left">
            <a href="/">mechurial</a>
          </div>
          <div class="menu-group float--right">
            <ul class="main-menu toggle">
              <li>
                <a href="/register/new">등록</a>
              </li>
              <li>
                <a href="/registerManagement">등록 관리</a>
              </li>
              <li><a href="/mypage_main">마이페이지</a></li>
  
              <% if(is_logined) {%>
                <li><a> <%= userid %> wellcome!</a></li>
                <% } else { %>
                  <li><a href="/signUp">회원가입</a></li>
                 <% } %>
              <% if(is_logined) {%>
                <li><a href="/logOut_main">로그아웃</a></li>
                <% } else { %>
                  <li><a href="/logIn_main">로그인</a></li>
                  <% } %>
            </ul>
          </div>
        </div>
      </header>
      <body>
        <!-- header -->
        <div id="header">
            <a href="https://nid.naver.com/user2/V2Join.nhn?m=agree#agreeBottom" target="_blank" title="네이버 회원가입 페이지 보러가기"></a>
        </div>


        <!-- wrapper -->
        <div class ="wrapper">
            <h2 class="h2">마이페이지</h2>
            <!-- content-->
            <div id="content">
                <div>
                    <!-- ID -->
                        <flaot:left>
                        <h3 class="join_title">
                            <label for="id">아이디</label>
                        </h3>
                        <span class="box int_id">
                            <div> <%=user.id%> </div>
                        </span>
                        </flaot:left>
                </div>
                <!-- PW -->
                <div>
                    <h3 class="join_title"><label for="pswd">비밀번호</label></h3>
                    <span class="box int_pass">
                        <div>**********<div>
                </div>
                <!-- PW 변경 BTN-->
                <div class="btn_area_pw">
                    <button type="button" id="btnPw" onclick="location.href='/mypage_pw'">
                        <span>비밀번호 변경</span>
                    </button>
                </div>
                <!-- 이메일 -->
                <div>
                    <h3 class="join_title">
                        <label for="id">이메일</label>
                    </h3>
                    <span class="box int_email">
                        <div><%=user.email%></div>
                    </span>
                </div>
                <!-- 이메일 인증 BTN-->
                <div class="btn_area_email">
                    <button type="button" id="btnMail" onclick="location.href='/mypage_email'">
                        <span>이메일 변경</span>
                    </button>
                </div>
                
                <!-- 회원탈퇴 -->
                <div>
                    <h3 class="join_title"><label for="delete">회원탈퇴</label></h3>
                    <div>: 영구적으로 계정을 삭제합니다.</div>
                </div>
                <!-- DELETE BTN-->
                <form action ="/mypage_main" class="btn_area_delete" method="POST">
                  <button id="btnDelete" type="submit" 
                  onClick="alert('Are you sure you want to leave?')" value="탈퇴하기">탈퇴하기</button>
                </form>
            </div> 
                
            </div> 
            <!-- content-->
        </div> 
        <!-- wrapper -->
    <script src="main.js"></script>
    </body>
  </section>
  </body>
</html>