<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<!DOCTYPE html>
<html lang="kr">

<body>
  <div class="body__container">
    <!-- CSS -->
    <header class="section">
      <link rel="stylesheet" href="../public/css/enrollment.css" />
    </header>
    <!-- 등록 생성 창 -->
    <div class="body-form">
      <div class="body-l">
        <h2 class="h2">등록 생성</h2>
         <form id="enroll-form" name="enroll-form" action="/register/create" method="post">
          <h2 class="step-info">Step 1. URL을 입력해주세요.</h2>
          <input type="url" name="url" id="url" placeholder="url을 입력해주세요." required>
          
          <h2 class="step-info">Step 2. 검색할 키워드를 입력하세요.(1개 이상 입력 필수)</h2>
          <input name="key1" type="text" id="key1" required><br/><br/>
          <input name="key2" type="text" id="key2"/><br/><br/>
          <input name="key3" type="text" id="key3"><br/><br/>
          
          <h2 class="step-info">Step 3. 알림 조건을 선택하세요.</h2>
          <label>
            <input type="radio" name="condition" id="or" value="or" />합집합
            <input type="radio" name="condition" id="and" value="and" />교집합
          </label>

          <h2 class="step-info">Step 4. 사이트 이름을 설정하세요.</h2>
          <input name="siteName" type="text" id="siteName" required/><br/>

          <h2 class="step-info">Step 5. 마감 기한을 설정하세요.</h2>
          <input type="date" name="deadline"/>
          <button class="enroll_btn" type="submit">등록하기</button>
        </form>
      </div>
    </div>
    <div id='result'></div>
</body>
</html>
