<!--views/mainpage.ejs-->

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Mechurial</title>

    <meta name="author" content="team7" />
    <meta name="description" content="Mechurial-website" />
    <!-- width=device-width: 사용하는 디바이스의 가로 너비를 그대로 사용하겠다, initial-scale=1.0: 초기 배율 1배, 
    user-scalable=no: 스마트폰이나 테블릿에서 유저가 확대하는것을 허용 X, maximum-scale=1, minimum-scale=1: 최대 최소 확대 배율 1로 정함 -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, minimum-scale=1"
    />
    <!-- CSS reset -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css"
      integrity="sha512-IJEbgDEF7OeKJRa0MY2PApnyJHRIsgzCveek4ec8VWQ+7KG3ZSKVNYa5xP/Gh0hVP0Mwb+gBsk+GwR3JQGhQNg=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/css/search_pw.css" />

    <script defer src="main.js"></script>
    <!-- defer: HTML이 다 로딩 된 다음 자바스크립트 코드를 동작 시키겠다.-->
  </head>


  <body>
    <div class="body__container">
      <!-- HEADER -->
      <header class="section">
        <div class="inner clearfix">
          <div class="logo float--left">
            <a href="/">mechurial</a>
          </div>
          <div class="menu-group float--right">
            <ul class="main-menu toggle">
              <li>
                <a href="/register/new">등록</a>
              </li>
              <li>
                <a href="/registerManagement">등록 관리</a>
              </li>
              <li><a href="/mypage_main">마이페이지</a></li>
  
              <% if(is_logined) {%>
                <li><a> <%= userid %> wellcome!</a></li>
                <% } else { %>
                  <li><a href="/signUp/terms">회원가입</a></li>
                 <% } %>
              <% if(is_logined) {%>
                <li><a href="/logOut_main">로그아웃</a></li>
                <% } else { %>
                  <li><a href="/logIn_main">로그인</a></li>
                  <% } %>
            </ul>
          </div>
        </div>
      </header>
    <!--페이지 내용 넣기-->
    <div class ="wrapper">
      <h2 class="h2">비밀번호 찾기</h2>
      <div id="content">
        <div>
            <!-- ID -->
                <flaot:left>
                <h3 class="join_title">
                    <label for="id">아이디</label>
                </h3>
                <span class="box int_id">
                    <input type="text" id="id" class="int" maxlength="20">
                </span>
            </flaot:left>
        </div>
      <!-- 이메일 -->
      <div>
        <h3 class="join_title">
            <label for="EA">이메일</label>
        </h3>
        <span class="box int_id">
            <input type="text" id="EA" class="int" maxlength="225">
        </span>
        <span class="error_next_box"></span>
      </div>

      <!-- 인증번호 전송 BTN-->
      <div class="btn_area_email1">
          <button type="button" id="btnMAilCheck" onclick="emailSend('EA')">
              <span>인증번호 전송</span>
          </button>
      </div>
      
      <!-- 이메일 인증번호  -->
      <div>
          <h3 class="join_title"><label for="email">이메일 인증번호<span class="optional"></span></label></h3>
          <span class="box int_email">
              <input type="text" id="CEA" class="int" maxlength="100" placeholder="이메일 인증번호 입력">
          </span>
      </div>

      <div class="btn_area_join">
        <button type="button" id="next" onclick="checkIdEmail()">
            <span>다음</span>
        </button>
      </div>
    </div>

    <script>

    var isAuthedEA = false;
    var isValidId = false;

      //이메일 추출
      function emailSend(email) {
      var EA = document.getElementById(email).value;
      emailSendAjax(EA);
    }
  
    // 이메일 전송 기능
    function emailSendAjax(email) {
          alert("인증번호를 메일로 전송했습니다.");
          $.ajax({
              type: 'POST',
              url: '/search_pw/sendmail',
              dataType: 'json',
              data: {
                  EA: email
              }
          });
          }


        function checkIdEmail() {
          var id = document.getElementById('id').value;
          var EA = document.getElementById('EA').value;
          var CEA = document.getElementById('CEA').value;
          $.ajax({
                type: 'POST',
                url: '/search_pw',
                dataType: 'json',
                data: {
                    id : id, 
                    EA : EA,
                    CEA: CEA,
                    isAuthedEA : isAuthedEA,
                    isValidId : isValidId 
                } , success : function(data){
                  if(data.result=='ok') {
                  isValidId=data.isValidId;
                  isAuthedEA=data.isAuthedEA;

                  if( (isValidId==true) && (isAuthedEA==true) )
                  location.href="/search_pw/new";
                  else if( (isValidId==true) && (isAuthedEA==false)) {
                    alert("인증번호를 확인해주세요.");
                    document.getElementById('CEA').value="";
                  } else if ( (isValidId==false) && (isAuthedEA==true) ) {
                    alert("입력하신 아이디와 이메일을 확인해주세요.");
                    document.getElementById('id').value="";
                  } else
                    alert("입력한 내용을 다시 확인해주세요.");

                  } else if (data.result=="unmatch"){
                    alert("존재하지 않는 id 입니다.");
                    document.getElementById('id').value="";
                  }
                  else{
                    alert("에러가 발생했습니다!\n다시 시도해주세요.");
                    location.href="/logIn_main";
                  }
                  
                }
                
            });
        }
  

    </script>
  </body>
</html>
