<!--views/mainpage.ejs-->

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Mechurial</title>

    <meta name="author" content="team7" />
    <meta name="description" content="Mechurial-website" />
    <!-- width=device-width: 사용하는 디바이스의 가로 너비를 그대로 사용하겠다, initial-scale=1.0: 초기 배율 1배, 
    user-scalable=no: 스마트폰이나 테블릿에서 유저가 확대하는것을 허용 X, maximum-scale=1, minimum-scale=1: 최대 최소 확대 배율 1로 정함 -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, minimum-scale=1"
    />
    <!-- CSS reset -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css"
      integrity="sha512-IJEbgDEF7OeKJRa0MY2PApnyJHRIsgzCveek4ec8VWQ+7KG3ZSKVNYa5xP/Gh0hVP0Mwb+gBsk+GwR3JQGhQNg=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/css/search_id.css" />

    <script defer src="main.js"></script>
    <!-- defer: HTML이 다 로딩 된 다음 자바스크립트 코드를 동작 시키겠다.-->
  </head>


  <body>
    <div class="body__container">
      <!-- HEADER -->
      <header class="section">
        <div class="inner clearfix">
          <div class="logo float--left">
            <a href="/">mechurial</a>
          </div>
          <div class="menu-group float--right">
            <ul class="main-menu toggle">
              <li>
                <a href="/register/new">등록</a>
              </li>
              <li>
                <a href="/registerManagement">등록 관리</a>
              </li>
              <li><a href="/mypage_main">마이페이지</a></li>
  
              <% if(is_logined) {%>
                <li><a> <%= userid %> wellcome!</a></li>
                <% } else { %>
                  <li><a href="/signUp">회원가입</a></li>
                 <% } %>
              <% if(is_logined) {%>
                <li><a href="/logOut_main">로그아웃</a></li>
                <% } else { %>
                  <li><a href="/logIn_main">로그인</a></li>
                  <% } %>
            </ul>
          </div>
        </div>
      </header>
     <!--페이지 내용 넣기-->
     <div class ="wrapper">
      <h2 class="h2">아이디 찾기</h2>

      <!-- 이메일 -->
      <div>
        <h3 class="join_title">
            <label for="id">이메일</label>
        </h3>
        <span class="box int_id">
            <input type="text" id="EA" class="int" maxlength="225">
        </span>
        <span class="error_next_box"></span>
      </div>

      <!-- 인증번호 전송 BTN-->
      <div class="btn_area_email1">
          <button type="button" id="btnMAilCheck" onclick="emailSend('EA')">
              <span>인증번호 전송</span>
          </button>
      </div>
      
      <!-- 이메일 인증번호  -->
      <div>
          <h3 class="join_title"><label for="email">이메일 인증번호<span class="optional"></span></label></h3>
          <span class="box int_email">
              <input type="text" id="CEA" class="int" maxlength="100" placeholder="이메일 인증번호 입력">
          </span>
      </div>

      <div class="btn_area_join">
        <button type="button" id="btnJoin" onclick="emailCer('CEA')">
            <span>다음</span>
        </button>
      </div>
    </div>

    <script>

    var isAuthedEA = false;
    var number = undefined;

      //이메일 추출
      function emailSend(email) {
      var EA = document.getElementById(email).value;
      emailSendAjax(EA);
    }
  
    // 이메일 전송 기능
    function emailSendAjax(email) {
           console.log("입력된 이메일은 "+email+" 입니다.");
           alert("인증번호를 메일로 전송했습니다.");
          $.ajax({
              type: 'POST',
              url: '/search_id/sendmail',
              dataType: 'json',
              data: {
                  EA: email
              }, success : function(CEA){
                number=CEA;
              }
          });
          }

    // 인증번호 ajax전송
	  function emailCer(cerNum) {
      var CEA = document.getElementById(cerNum).value;
      emailCerAjax(CEA);
    }
  
   // 이메일 인증 기능
   function emailCerAjax(cerNum) {
    var EA = document.getElementById('EA').value;
            $.ajax({
                type: 'POST',
                url: '/search_id/emailcert',
                dataType: 'json',
                data: {
                  number:number,
                  EA : EA,
                  CEA: cerNum,
                  isAuthedEA : isAuthedEA
                }, success: function(data){
                  if(data.result=='success'){
                        alert('입력하신 이메일로 아이디 정보를 전송했습니다.');
                        location.href="/login_main";

                    }
                    else{
                        alert('입력하신 정보를 다시 확인해주세요.');
                        document.getElementById('CEA').value='';
                    }
                }
                
            });
        }
  
    </script>

  </body>
  
</html>