<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

    <!--페이지 내용 넣기-->
    <section class="signUpComplete">
      <h2 class="h2">회원가입 완료</h2>
      <ul>
          <div class="h2">회원가입이 완료되었습니다.<br>
            로그인 후, 등록 버튼을 눌러 서비스를 이용해보세요!
          </div>
          <div class="btn_complete">
            <button id="btnComplete" onclick="location.href='logIn_main.html'">
                로그인하고 관심페이지 등록하기
            </button >
      </ul>
  </body>
</html>
