<!--views/mainpage.ejs-->

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Mechurial</title>

    <meta name="author" content="team7" />
    <meta name="description" content="Mechurial-website" />
    <!-- width=device-width: 사용하는 디바이스의 가로 너비를 그대로 사용하겠다, initial-scale=1.0: 초기 배율 1배, 
    user-scalable=no: 스마트폰이나 테블릿에서 유저가 확대하는것을 허용 X, maximum-scale=1, minimum-scale=1: 최대 최소 확대 배율 1로 정함 -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, minimum-scale=1"
    />
    <!-- CSS reset -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css"
      integrity="sha512-IJEbgDEF7OeKJRa0MY2PApnyJHRIsgzCveek4ec8VWQ+7KG3ZSKVNYa5xP/Gh0hVP0Mwb+gBsk+GwR3JQGhQNg=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/css/signUp_main.css" />

    <script defer src="main.js"></script>
    <!-- defer: HTML이 다 로딩 된 다음 자바스크립트 코드를 동작 시키겠다.-->
  </head>


  <body>
    <div class="body__container">
      <!-- HEADER -->
      <header class="section">
        <div class="inner clearfix">
          <div class="logo float--left">
            <a href="/">mechurial</a>
          </div>
          <div class="menu-group float--right">
            <ul class="main-menu toggle">
              <li>
                <a href="/register/new">등록</a>
              </li>
              <li>
                <a href="/registerManagement">등록 관리</a>
              </li>
              <li><a href="/mypage_main">마이페이지</a></li>
  
              <% if(is_logined) {%>
                <li><a> <%= userid %> wellcome!</a></li>
                <% } else { %>
                  <li><a href="/signUp/terms">회원가입</a></li>
                 <% } %>
              <% if(is_logined) {%>
                <li><a href="/logOut_main">로그아웃</a></li>
                <% } else { %>
                  <li><a href="/logIn_main">로그인</a></li>
                  <% } %>
            </ul>
          </div>
        </div>
      </header>
      <body>
        <!-- header -->
        <div id="header">
            <a href="https://nid.naver.com/user2/V2Join.nhn?m=agree#agreeBottom" target="_blank" title="네이버 회원가입 페이지 보러가기"></a>
        </div>
        <!-- wrapper -->
        <div class ="wrapper">
            <h2 class="h2">회원정보 입력</h2>
            <!-- content-->
            <div id="content">
                <div>
                    <form action="/signUp/create" method="POST">
                    <!-- ID -->
                        <flaot:left>
                        <h3 class="join_title">
                            <label for="id">아이디</label>
                        </h3>
                        <span class="box int_id">
                            <input type="text" id="id" name="id" class="int" maxlength="20">
                        </span>

                        
                        <span class="error_next_box"></span>
                    </flaot:left>

                    <!-- 아이디 중복 확인 BTN-->
                    <div class="btn_area_idCheck">
                        <button type="button" id="idChk" onclick="idCheck()">
                            <span>중복 확인</span>
                        </button>
                    </div>
                </div>

                <!-- PW1 -->
                <div>
                    <h3 class="join_title"><label for="pswd1">비밀번호</label></h3>
                    <span class="box int_pass">
                        <input type="password" id="pswd1" name="pw1" class="int" maxlength="20">
                        <span id="alertTxt">사용불가</span>
                        
                    </span>
                    <span class="error_next_box"></span>
                </div>

                <!-- PW2 -->
                <div>
                    <h3 class="join_title"><label for="pswd2">비밀번호 재확인</label></h3>
                    <span class="box int_pass_check">
                        <input type="password" id="pswd2" name="pw2" class="int" maxlength="20" onchange="check_pw()" >
                        <img src="../public/images/m_icon_check_disable.png" id="pswd2_img1" name="pswd2_img1" class="pswdImg">
                    </span>
                    <span class="error_next_box"></span>
                </div>

                <!-- 이메일 -->
                <div>
                    <h3 class="join_title">
                        <label for="id">이메일</label>
                    </h3>
                    <span class="box int_id">
                        <input type="text" id="EA" name="EA" class="int" maxlength="225">
                    </span>
                    <span class="error_next_box"></span>
                </div>

                <!-- 이메일 인증 BTN-->
                <div class="btn_area_email1">
                    <button type="button" id="emailSendBtn"onclick="emailSend('EA')">
                        <span>이메일 인증</span>
                    </button>
                </div>
                
                <!-- 이메일 인증번호  -->
                <div>
                    <h3 class="join_title"><label for="email">이메일 인증번호<span class="optional"></span></label></h3>
                    <span class="box int_email">
                        <input type="text" id="CEA" name="CEA" class="int" maxlength="100" placeholder="이메일 인증번호 입력">
                    </span>
                    <span class="error_next_box">인증번호를 다시 확인해주세요.</span>    
                </div>

                <!-- 이메일 인증 확인 BTN-->
                <div class="btn_area_email2">
                    <button type="button" id="emailCertBtn" onclick="emailCer('CEA')">
                        <span>인증 확인</span>
                    </button>
                </div>

                <!-- JOIN BTN-->
                <div class="btn_area_join">
                    <button type="button" id="btnJoin" class="ajaxsend">
                        <span>가입하기</span>
                    </button>
                </div>

            </form>

                
            </div> 
            <!-- content-->

        </div> 
        <!-- wrapper -->
    <script>
    var isAccordPw = false;
    var isAuthedEA = false;

    function check_pw() {
        var pw1 = document.getElementsByName('pw1')[0].value; 
        var pw2 = document.getElementsByName('pw2')[0].value;
            
        if(pw1===pw2){       
            document.getElementById('pswd2_img1').src="../public/images/m_icon_check_able.png"
            isAccordPw=true;
        }
    }
    function idCheck() {
        var id = document.getElementsByName('id')[0].value;
        console.log("작동중");
        $.ajax({
            type: 'POST',
            url: '/signUp/idChk',
            dataType: 'json',
            data: {
                id: id
            },
            success : function(data){
                console.log(data);
                if(data)
                    alert("사용 가능한 아이디입니다.");
                else{
                    alert("사용 불가능한 아이디 입니다. 다시 입력해주세요.");
                    document.getElementsByName('id')[0].value="";
                }
            }
        });
    }
  
    document.querySelector('.ajaxsend').addEventListener('click', function() {
        var id = document.getElementsByName('id')[0].value;
        var pw = document.getElementsByName('pw1')[0].value; 
        var EA = document.getElementsByName('EA')[0].value;
        
        if ((isAccordPw==true) && (isAuthedEA==true) ){
            sendIdPw(id, pw, EA);
        }else if ((isAccordPw==true) && (isAuthedEA ==false) ){
            alert("이메일 인증을 다시 확인해주세요.");
        }else if((isAccordPw==false) && (isAuthedEA==true)){
            alert("비밀번호를 다시 확인해주세요.");
        }else {
            alert("입력한 내용을 다시 확인해주세요.");
        }
        
    })
    function sendIdPw(userId, userPw, email) {
        console.log("입력된 아이디는 "+userId+" 입니다.");
        console.log("입력된 비밀번호는 "+userPw+" 입니다.");
        console.log("입력된 이메일은 "+email+" 입니다.");
        $.ajax({
            type: 'POST',
            url: '/signUp/create',
            dataType: 'json',
            data: {
                id : userId,
                pw : userPw,
                em: email
            },
            success: function(){
                alert("회원가입이 완료되었습니다.");
                location.href="/signUp/complete";
            }
        });
        
    }
    //이메일 추출
    function emailSend(email) {
		var EA = document.getElementsByName(email)[0].value;
		emailSendAjax(EA);
	}
	// 인증번호 ajax전송
	function emailCer(cerNum) {
		var CEA = document.getElementsByName(cerNum)[0].value;
		emailCerAjax(CEA);
	}
    // 이메일 전송 기능
    function emailSendAjax(email) {
         console.log("입력된 이메일은 "+email+" 입니다.");
         //alert("인증번호를 메일로 전송했습니다.");
        $.ajax({
            type: 'POST',
            url: '/signUp/sendmail',
            dataType: 'json',
            data: {
                EA: email
            }, success : function(data){
                if(data.result=='ok') {
                    alert("사용 가능한 이메일입니다. \n이메일로 인증번호를 전송했습니다.");
                }
                else if(data.result=='redup'){
                    alert("사용할 수 없는 이메일입니다.");
                    document.getElementById('EA').value="";
                }
                else{
                    alert('오류가 발생했습니다. 다시 시도해주세요.');
                    location.reload();
                }
            }
        });
        
        }
        // 이메일 인증 기능
        function emailCerAjax(cerNum) {
            $.ajax({
                type: 'POST',
                url: '/signUp/emailcert',
                dataType: 'json',
                data: {
                    CEA: cerNum,
                    isAuthedEA : isAuthedEA
                }, success: function(data){
                    if(data.result=='ok'){
                        alert('이메일 인증에 성공했습니다.');
                        isAuthedEA=data.isAuthedEA;
                    }
                    else if(data.result=='notMatch'){
                        alert('인증번호가 일치하지 않습니다.');
                        document.getElementById('CEA').value='';
                    }
                    else{
                        alert('오류가 발생했습니다. 다시 시도해주세요.');
                        location.reload();
                    }
                }
                
            });
        }
    </script>
    </script>
    </body>
  </section>
  </body>
</html>