/* 공통 */
.body__container {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    /* 노말 */
    font-weight: 400;
    /* 어두운 회색 */
    color: #333;
  }
  a {
    text-decoration: none;
  }
  
  /* 버튼 */
  .btn {
    height: 60px;
    background: #eee linear-gradient(to bottom, #fcfcfc, #eee); /* 색을 위 아래 섞어줌 */
    border: 0;
    outline: 0;
    border-radius: 4px;
    display: flex;
    /* 가운데 수직 정렬 */
    align-items: center;
    padding: 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    color: #333;
  }
  .btn:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.07);
  }
  
  /* input: text */
  .input--text {
    height: 34px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    font-size: 16px;
  }
  .input--text:focus {
    border-color: #51a7e8;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075),
      0 0 5px rgba(81, 167, 232, 0.5);
  }
  /* Vendor prefix (브라우저 업체별 접두사) 크롬: webkit, 인터넷 익스플로러: ms, 파이어폭스: moz */
  .input--text::-webkit-input-placeholder {
    color: #cacaca;
  }
  .input--text::-ms-input-placeholder {
    color: #cacaca;
  }
  .input--text::-moz-input-placeholder {
    color: #cacaca;
  }
  
  /* FLOAT CLERFIX */
  .clearfix::after {
    content: "";
    clear: both;
    display: block;
  }
  .float--left {
    float: left;
  }
  .float--right {
    float: right;
  }
  
  /* SUMMARY */
  .summary {
  }
  .summary__title {
    font-size: 38px;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 18px;
  }
  .summary_description {
    font-size: 26px;
    font-weight: 300;
    color: #767676;
    line-height: 1.5;
  }
  
  /* SECTION & INNER */
  .section {
    position: relative;
  }
  .section .inner {
    max-width: 980px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
  }
  
  /* HEADER */
  header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.075);
    background: #fff;
  }
  header .inner {
    height: 78px;
  }
  header .menu-group {
    display: flex;
    align-items: center;
    height: 100%;
  }
  header .logo {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 10px;
  }
  header .logo a {
    background: url("../img/logo.svg");
    width: 32px;
    height: 32px;
    display: block;
    text-indent: -9999px;
  }
  header .logo a:hover {
    background: url("../img/logo_on.svg");
  }
  header .main-menu {
    display: flex;
  }
  header .main-menu li a {
    display: block;
    padding: 30px;
    color: #3c4146;
  }
  
  #toggle-btn {
    display: none;
    background: url("../img/toggle-btn.svg");
    width: 18px;
    height: 24px;
    position: absolute;
    top: 16px;
    right: 20px;
    cursor: pointer;
    text-indent: -9999px;
    border-radius: 30px;
  }
  
  /* VISUAL */
  .section--visual {
    background-image: url("../img/main.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100%; /* 배경 이미지 전체 덮음 (축소 확대 해도 어떤 상황에서라도) */
  }
  .section--visual::before {
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
  }
  .section--visual .inner {
    padding: 160px 0;
    display: flex;
  }
  .section--visual .summary {
    flex: 1; /* = flex-grow: 1; flex-basis: 0; */
    margin-right: 90px;
  }
  .section--visual .summary__title {
    color: #fff;
    font-size: 54px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 25px rgba(0, 0, 0, 0.75);
  }
  .section--visual .summary__description {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 25px rgba(0, 0, 0, 0.75);
  }
  
  #main-form {
    width: 340px;
    margin-top: 50%;
    margin-left: -95%;
    margin-right: 100%;
    display: block;
  }
  #main-form li {
    margin-bottom: 17px;
  }
  #main-form li:last-child {
    margin-bottom: 0;
  }
  
  #main-form [type="enroll"] {
    background: #2e43ff;
    color: #fff;
    width: 100%;
    height: 62px;
    padding: 30 25px;
    font-size: 20px;
    justify-content: center;
    border-radius: 30px;
    margin-top: 15px;
  }
  #main-form [type="service-info"] {
    background: #ffe600;
    width: 100%;
    height: 62px;
    padding: 30 25px;
    font-size: 20px;
    justify-content: center;
    border-radius: 30px;
    margin-top: 15px;
  }
  