/* 공통 */
.body__container {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  /* 노말 */
  font-weight: 400;
  /* 어두운 회색 */
  color: #333;
}
a {
  text-decoration: none;
}
.section {
  position: relative;
}
.section .inner {
  max-width: 980px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
.float--left {
  float: left;
}
.float--right {
  float: right;
}

/* HEADER */
header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.075);
  background: #fff;
}
header .inner {
  height: 78px;
}
header .menu-group {
  display: flex;
  align-items: center;
  height: 100%;
}
header .logo {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 10px;
}
header .logo a {
  background: url("../img/logo.svg");
  width: 32px;
  height: 32px;
  display: block;
  text-indent: -9999px;
}
header .logo a:hover {
  background: url("../img/logo_on.svg");
}
header .main-menu {
  display: flex;
}
header .main-menu li a {
  display: block;
  padding: 30px;
  color: #3c4146;
}

.signUpComplete{
  text-align:center;
}

#btnComplete {
  background: #2e43ff;
  color: #fff;
  width: 60%;
  height: 70px;
  padding: 10px;
  font-size: 16px;
  border-radius: 60px;
  margin-top: 20px;
  position: relative;
  align-self: center;
}
