/* // 상단바 부분 // */
/* 공통 */
.body__container {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    /* 노말 */
    font-weight: 400;
    /* 어두운 회색 */
    color: #333;
  }
  a {
    text-decoration: none;
  }
  .section {
    position: relative;
  }
  .section .inner {
    max-width: 980px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: block;
  }
  .float--left {
    float: left;
  }
  .float--right {
    float: right;
  }
  
  /* HEADER */
  header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.075);
    background: #fff;
  }
  header .inner {
    height: 78px;
  }
  header .menu-group {
    display: flex;
    align-items: center;
    height: 100%;
  }
  header .logo {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 10px;
  }
  header .logo a {
    background: url("../images/logo1.png");
    width: 50px;
    height: 50px;
    display: block;
    text-indent: -9999px;
  }
  header .logo a:hover {
    background: url("../images/logo1.png");
  }
  header .main-menu {
    display: flex;
  }
  header .main-menu li a {
    display: block;
    padding: 30px;
    color: #3c4146;
  }
  

/* 레이아웃 틀 */
/*
html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background: #f5f6f7;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}
#logo {
    width: 240px;
    height: 44px;
    cursor: pointer;
}

#header {
    padding-top: 62px;
    padding-bottom: 20px;
    text-align: center;
}
#wrapper {
    
    height: 100%;
}

#content {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 460px;
}

*/

.wrapper{
    margin: 0 auto;
    width: 80%;
}
.h2 {
    padding: 20px 0 20px;
    font-size: 32px;
    color:#111;
    line-height: 1;
  }

/* 입력폼 */

input:focus {
    outline: none;
}


h3 {
    margin: 19px 0 8px;
    font-size: 14px;
    font-weight: 700;
}


.box {
    display: block;
    width: 100%;
    height: 51px;
    border: solid 1px #dadada;
    padding: 10px 14px 10px 14px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
}

.int {
    display: block;
    position: relative;
    width: 100%;
    height: 29px;
    border: none;
    background: #fff;
    font-size: 15px;
}

input {
    font-family: Dotum,'돋움',Helvetica,sans-serif;    
}

.box.int_id {
    width: 60%;
}

.box.int_pass {
    width: 60%;
    padding-right: 40px;
}

.box.int_pass_check {
    width: 60%;
    padding-right: 40px;
}

.box.int_email {
    width: 60%;
    padding-right: 40px;
}

.step_url {
    /*@naver.com*/
    position: absolute;
    top: 16px;
    right: 13px;
    font-size: 15px;
    color: #8e8e8e;
}

.pswdImg {
    width: 18px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -10px;
    cursor: pointer;
}

#bir_wrap {
    display: table;
    width: 100%;
}

#bir_yy {
    display: table-cell;
    width: 147px;
    
}

#bir_mm {
    display: table-cell;
    width: 147px;
    vertical-align: middle;
}

#bir_dd {
    display: table-cell;
    width: 147px;
}

#bir_mm, #bir_dd {
    padding-left: 10px;
}

select {
    width: 100%;
    height: 29px;
    font-size: 15px;
    background: #fff url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif) 100% 50% no-repeat;
    background-size: 20px 8px;
    -webkit-appearance: none;
    display: inline-block;
    text-align: start;
    border: none;
    cursor: default;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}

/* 에러메세지 */

.error_next_box {
    margin-top: 9px;
    font-size: 12px;
    color: red;    
    display: none;
}

#alertTxt {
    position: absolute;
    top: 19px;
    right: 38px;
    font-size: 12px;
    color: red;
    display: none;
}

/* 버튼 */
.btn_area_id {
    margin: 10px 0 10px;
}

#btnId {
    float: right;
    width: 250px;
    padding: 10px 0 10px;
    border: 0;
    cursor: pointer;
    color: #fff;
    border-radius: 10px;
    background-color: #2E43FF;
    font-size: 20px;
    font-weight: 400;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}


.btn_area_idCheck {
    margin: 10 0 10;
}

.btn_area_email1 {
    margin: 20px 0 ;
}
#btnCheckCurPw {
    width: 250px;
    padding: 10px 0 10px;
    border: 0;
    cursor: pointer;
    color: #fff;
    border-radius: 10px;
    background-color: #2E43FF;
    font-size: 20px;
    font-weight: 400;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}

.btn_area_id {
    margin: 10px 0 10px;
}

.btn_area_email2 {
    margin: 20px 0 ;
}

#btnMailNext {
    width: 250px;
    padding: 10px 0 10px;
    border: 0;
    cursor: pointer;
    color: #fff;
    border-radius: 10px;
    background-color: #2E43FF ;
    font-size: 20px;
    font-weight: 400;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}

.btn_area_delete {
    margin: 20px 0 20px;
}

#btnNext {
    float: right;
    width: 30%;
    padding: 10px 0 10px;
    margin: 20px 0;
    border: 0;
    cursor: pointer;
    color: #fff;
    border-radius: 10px;
    background-color: #2E43FF;
    font-size: 20px;
    font-weight: 400;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}