/* 공통 */
.body__container {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  /* 노말 */
  font-weight: 400;
  /* 어두운 회색 */
  color: #333;
}
a {
  text-decoration: none;
}

.section {
  position: relative;
}
.section .inner {
  max-width: 980px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
.float--left {
  float: left;
}
.float--right {
  float: right;
}
.input--text {
  height: 34px;
  padding: 0 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075); /* .75 아니고 .075 주의 */
}
.input--text:focus {
  border-color: #51a7e8 !important; /* header #search 선택자를 덮어쓰기 위해서 사용 */
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075),
    0 0 5px rgba(81, 167, 232, 0.5);
}
.input--text::-webkit-input-placeholder {
  color: #cacaca;
}
.input--text:-ms-input-placeholder {
  color: #cacaca;
}
.input--text::-moz-placeholder {
  color: #cacaca;
}
/* HEADER */
header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.075);
  background: #fff;
}
header .inner {
  height: 78px;
}
header .menu-group {
  display: flex;
  align-items: center;
  height: 100%;
}
header .logo {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 10px;
}
header .logo a {
  background: url("../img/logo.svg");
  width: 32px;
  height: 32px;
  display: block;
  text-indent: -9999px;
}
header .logo a:hover {
  background: url("../img/logo_on.svg");
}
header .main-menu {
  display: flex;
}
header .main-menu li a {
  display: block;
  padding: 30px;
  color: #3c4146;
}
h2 {
  padding: 15px;
}

#toggle-btn {
  display: none;
  background: url("../img/toggle-btn.svg");
  width: 18px;
  height: 24px;
  position: absolute;
  top: 16px;
  right: 20px;
  cursor: pointer;
  text-indent: -9999px;
  border-radius: 30px;
}

#enroll-form {
  text-align: center;
}
#enroll-form {
  padding: 0 10px;
  margin-top: 10px;
}
#enroll-form li {
  text-align: center;
  display: inline-block;
  margin-top: 30px;
  text-decoration: none;
}
#enroll-form li:last-child {
  margin-bottom: 0;
}

.enroll_btn {
  width: 100px;
  height: 30px;
  border-radius: 20px;
}
.body-form li {
  text-decoration: none;
}
.body-l {
  width: 65%;
  font-size: 15px;
  float: left;
  padding: 10px;
}
